<div class="header-zone" th:fragment="pageHeader">
    <header class="header">
        <h1 class="title">〇〇学校テストサービス</h1>
        <nav class="header-nav">
            <div class="drop-down ma-l-10">
                <a href="#" class="drop-down-title"　 sec:authorize="hasRole('TEACHER')">データ登録</a>
                <ul class="drop-down-level">
                    <li><a class="drop-down-level-link" href="#" th:href="@{/school/registation}" sec:authorize="hasRole('TEACHER')">データ登録</a></li>
                    <li><a class="drop-down-level-link" href="#" th:href="@{/school/test/registation}" sec:authorize="hasRole('TEACHER')">試験作成</a></li>
                    <li><a class="drop-down-level-link" href="#" th:href="@{/school/grade-class/registation}"
                    sec:authorize="hasRole('TEACHER')">学年・クラス情報作成</a></li>
                </ul>
            </div>
            <div class="drop-down ma-l-10"　 sec:authorize="hasRole('TEACHER')">
                <a href="#"  class="drop-down-title">ダウンロード</a>
                <ul class="drop-down-level">
                    <li><a class="drop-down-level-link" href="#" th:href="@{/school/test-template/download}"
                        sec:authorize="hasRole('TEACHER')">テストテンプレート</a></li>
                    <li><a class="drop-down-level-link" href="#" th:href="@{/school/student-template/download}"
                        sec:authorize="hasRole('TEACHER')">学生テンプレート</a></li>
                </ul>
            </div>
            <div class="drop-down ma-l-10"　 sec:authorize="hasRole('TEACHER')">
                <a href="#"  class="drop-down-title">成績調査</a>
                <ul class="drop-down-level">
                    <li><a class="drop-down-level-link" href="#" th:href="@{/school/survey-form}" sec:authorize="hasRole('TEACHER')">成績調査</a></li>
                    <li><a class="drop-down-level-link" href="#" th:href="@{/school/sum/survey-form}" sec:authorize="hasRole('TEACHER')">合計調査</a></li>
                </ul>
            </div>
            <div class="drop-down ma-l-10"　 sec:authorize="hasRole('TEACHER')">
                <a href="#"  class="drop-down-title">学生検索</a>
                <ul class="drop-down-level">
                    <li><a class="drop-down-level-link" href="#" th:href="@{/school/search-student}" sec:authorize="hasRole('TEACHER')">学生検索</a></li>
                </ul>
            </div>
            <div class="drop-down ma-l-10" sec:authorize="hasRole('STUDENT')">
                <a href="#"  class="drop-down-title">個人用オプション</a>
                <ul class="drop-down-level">
                    <li><a class="drop-down-level-link" href="#" th:href="@{/school/student/survey-form}" sec:authorize="hasRole('STUDENT')">成績調査</a></li>
                    <li><a class="drop-down-level-link" href="#" th:href="@{/school/student/password-change}" sec:authorize="hasRole('STUDENT')">パスワード変更</a></li>
                </ul>
            </div>
        </nav>
        <div class="header-sub">
            <a href="#" th:href="@{/school/main}" class="header-sub-link">MAIN</a>
        </div>
    </header>
    <div class="header-bottom">
        <h1 class="page-title" th:text="${pageTitle}">メインページ</h1>
        <div th:text="|ようこそ、${username} さん|" class="username">ようこそ？？？さん</div>
    </div>
    <hr>
</div>