
.square{

    & #form{

        & .form-item{
            margin-left: 0;
            text-align: center;

            & .form-label{
                font-size: 18px;
            }
        }
    }
    
}