.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

.form form {
  width: 33%;
  border: solid 2px black;
  border-radius: 10px;
}

.form .error {
  text-align: center;
}

.form-title {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}

.form-item {
  text-align: center;
}

.form-btn {
  text-align: center;
}

.form-label {
  font-weight: 600;
}

.form-text {
  border-radius: 8px;
}

.form-text:focus {
  outline: none;
  border: solid 2px orange;
}

.form.square form {
  width: 50%;
  border-radius: 0;
}

.form.square .form-title {
  margin: 15px;
  font-size: 35px;
}

.form.square .form-item {
  margin: 0 0 15px 15px;
}

.form.square .form-item {
  text-align: left;
}

.form.square .form-item input {
  margin-left: 8px;
}

.form.square .form-subtitle {
  margin-left: 15px;
  font-weight: bold;
  font-size: 22px;
  color: blue;
}

.form-title-sub {
  font-weight: bold;
  font-size: 25px;
  margin: 20px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 600;
  color: teal;
  background-color: aquamarine;
  padding: 8px 50px;
  margin: 10px;
  border: 1px solid teal;
  border-radius: 10px;
  -webkit-transition: all 0.2s 0.2s ease;
  transition: all 0.2s 0.2s ease;
}

.btn_return {
  color: gray;
  background-color: lightgray;
  border: 1px solid gray;
}

.btn-login {
  color: gray;
  background-color: lightgray;
  border-color: gray;
}

.btn:hover {
  opacity: 0.8;
}

.btn-square {
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 8px 50px;
  margin: 10px;
  border: 2px solid black;
  -webkit-transition: all 0.3s 0.2s ease;
  transition: all 0.3s 0.2s ease;
}

.btn-square:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}

.ma-t-10 {
  margin-top: 10px;
}

.ma-t-20 {
  margin-top: 20px;
}

.ma-t-35 {
  margin-top: 35px;
}

.ma-b-10 {
  margin-bottom: 10px;
}

.ma-r-10 {
  margin-right: 10px;
}

.ma-l-10 {
  margin-left: 10px;
}

.ma-15 {
  margin: 15px;
}

.ma-10 {
  margin: 10px;
}

.pa-t-10 {
  padding-top: 10px;
}

.pa-b-10 {
  padding-bottom: 10px;
}

.pa-r-10 {
  padding-right: 10px;
}

.pa-l-10 {
  padding-left: 10px;
}

.pa-t-15 {
  padding-top: 15px;
}

.pa-b-15 {
  padding-bottom: 15px;
}

.pa-r-15 {
  padding-right: 15px;
}

.pa-l-15 {
  padding-left: 15px;
}

.pa-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pa-15 {
  padding: 15px;
}

.width-33 {
  width: 33%;
}

.error {
  color: #da6363;
}

.btn-barrier {
  pointer-events: none;
}

body {
  background-color: #efeffd;
}

.form-info {
  color: blue;
  text-align: center;
  margin-bottom: 0;
}

.form-danger {
  color: crimson;
  text-align: center;
}

.form.square .form-title {
  margin-bottom: 0;
}

.form.square .form-item {
  margin-bottom: 7px;
}

.form.square .form-label {
  margin-bottom: 0;
}

.form.square .error {
  text-align: left;
  margin-left: 15px;
  margin-bottom: 5px;
}

.register {
  text-align: center;
  margin-top: 20px;
}

.register-text {
  display: inline-block;
  border: 5px double teal;
  color: teal;
  font-weight: bold;
  font-size: 30px;
  padding: 3px 35px;
}
/*# sourceMappingURL=create.css.map */