@import './grobal';
@import './grobal-background';

.main{
    width: 75%;
    margin: auto;
    & .link-area{
        margin: 15px;
        border: solid 2px black;
        &-title{
            // text-align: center;
            font-size: 25px;
            margin: 15px;
        }

        &-item{
            margin-left: 20px;
            margin-bottom: 15px;
            & .item-title{
                margin-bottom: 0;
            }
        }
    }
}