<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../../static/css/bootstrap-reboot.min.css" th:href="@{/css/bootstrap-reboot.min.css}">
	<link rel="stylesheet" href="../../static/css/header.css" th:href="@{/css/header.css}">
	<link rel="stylesheet" href="../../static/css/footer.css" th:href="@{/css/footer.css}">
	<link rel="stylesheet" href="../../static/css/survey-form.css" th:href="@{/css/survey-form.css}">

	<script src="" th:src="@{/js/jquery-3.4.1.min.js}"></script>


	<title>学生検索</title>
</head>

<body>
	<th:block th:replace="fragments/header :: pageHeader"></th:block>

	<div class="form square">
		<form action="#" th:action="@{/school/search-student/execution}" method="get" th:object="${studentSearchForm}" id="form">
			<div class="form-title">学生検索フォーム</div>
			<p class="form-subtitle">検索オプション</p>
			<div class="form-item">
				<label class="form-label" for="year">年度：</label>
				<input class="form-input" type="radio" th:each="item : ${year}" th:text="${item}" th:value="${item}"
					th:field="*{year}" id="year"/>
				<input class="form-input" type="radio" th:text="|指定なし|" th:value="null"  th:field="*{year}" />
			</div>
			<div class="form-item">
				<label class="form-label" for="grade">学年：</label>
				<input class="form-input" type="radio" th:each="item : ${grade}" th:value="${item.name()}"
					th:text="${item.grade}" th:field="*{grade}" name="grade" id="grade" />
					<input class="form-input" type="radio" th:text="|指定なし|" name="grade"  th:value="null" th:field="*{grade}"/>
			</div>

			<div class="form-item">
				<label class="form-label">クラス：</label>
				<input class="form-input" type="radio" th:each="item : ${clazz}" th:value="${item.name()}"
					th:text="${item.clazzName}" th:field="*{clazz}" name="clazz" />
					<input class="form-input" type="radio" th:text="|指定なし|" name="clazz"  th:value="null" th:field="*{clazz}" />
			</div>

			<div class="form-item">
				<label class="form-label" for="lastName">姓：</label>
				<input class="form-input" type="text" th:field="*{lastName}" name="lastName" id="lastName" />
			</div>

			<div class="form-item">
				<label class="form-label" for="firstName">名：</label>
				<input class="form-input" type="text" th:field="*{firstName}" name="firstName" id="firstName" />
			</div>

			<div class="form-btn">
				<button type="submit" class="btn-square" id="submit" name="execution">検索</button>
			</div>
		</form>
	</div>

	<hr />

	<p class="not-found" th:if="${requestList} == null" th:text="|※未検索状態です※|">※未検索状態です※</p>
	<p class="not-found" th:if="${requestList} != null and ${requestList.isEmpty()}" th:text="|※検索結果が有りません※|">※検索結果が有りません※
	</p>

	<div class="table">
		<table th:if="${requestList} != null and ${!requestList.isEmpty()}">
			<tbody class="table-body">
				<tr class="table-tr">
					<th class="table-head">No</th>
					<th class="table-head">学年</th>
					<th class="table-head">クラス</th>
					<th class="table-head">氏名</th>
					<th class="table-head">年度</th>
					<th class="table-head">生徒解析</th>
					<!-- 
					<th class="table-head">データ更新</th>
					 -->
				</tr>
				<tr class="table-tr" th:each="info ,stat : ${requestList} ">
					<td class="table-data" th:text="${stat.count} + (${page.currentNum} - 1) * 50">0</td>
					<td class="table-data" th:text="${info.gradeClass.grade}">1</td>
					<td class="table-data" th:text="${info.gradeClass.className}">A</td>
					<td class="table-data" th:text="|${info.appUser.lastName} ${info.appUser.firstName}|">山田 太郎</td>
					<td class="table-data" th:text="${info.gradeClass.year}">1999</td>
					<td>
						<form action="#"
							th:action="@{/school/student/survey-form/{userId} (userId=${info.appUser.userId})}">
							<button type="submit" class="table-btn">この生徒の解析</button>
						</form>
					</td>
					<!-- 
					<td>
						<form action="#"
							th:action="@{/school/student/survey-form/update-test/{studentTestId} (studentTestId=${info.studentTestId})}">
							<button type="submit" class="table-btn">試験結果更新</button>
						</form>
					</td>
					 -->
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- ページネーション部分 -->
	<div class="pagenation" th:if="${page} != null and ${page.totalPages} > 1" th:object="${studentSearchForm}" >
		<!--/*先頭*/-->
		<div class="pagenation_head">
			<a class="pagenation_link" href="#" th:href="@{${page.url}(page=0, size=${page.size}, year=*{year}, grade=*{grade}, clazz=*{clazz}, firstName=*{firstName}, lastName=*{lastName})}"
				th:classappend="${page.first}? pagenation_link_non">&lt;&lt;</a>
		</div>

		<!--/*ひとつ前*/-->
		<div class="pagenation_previous">
			<a class="pagenation_link" href="#" th:href="@{${page.url}(page=${page.number} - 1, size=${page.size}, year=*{year}, grade=*{grade}, clazz=*{clazz}, firstName=*{firstName}, lastName=*{lastName})}"
				th:classappend="${page.first}? pagenation_link_non">&lt;</a>
		</div>

		<!--/*中央*/-->
		<div class="pagenation_middle" th:each="item : ${items}">
			<a class="pagenation_link" href="#" th:href="@{${page.url}(page=${item.number} - 1, size=${page.size}, year=*{year}, grade=*{grade}, clazz=*{clazz}, firstName=*{firstName}, lastName=*{lastName})}"
				th:classappend="${page.currentNum} == ${item.number}? pagenation_link_non" th:text=${item.number}>1</a>
		</div>
		<!--
		<div class="pagenation_middle" th:each="item : ${items}">
			<a class="pagenation_link pagenation_link_non" href="#" th:href="@{${page.url}(page=${item.number} - 1, size=${page.size})}"
				th:classappend="${page.currentNum} == ${item.number}? pagenation_link_non" th:text=${item.number}>1</a>
		</div>
		-->

		<!--/*ひとつ後ろ*/-->
		<div class="pagenation_after">
			<a class="pagenation_link" href="#" th:href="@{${page.url}(page=${page.number} + 1, size=${page.size}, year=*{year}, grade=*{grade}, clazz=*{clazz}, firstName=*{firstName}, lastName=*{lastName})}"
				th:classappend="${page.last}? pagenation_link_non">&gt;</a>
		</div>
		<!--/*末尾*/-->
		<div class="pagenation_end">
			<a class="pagenation_link" href="#" th:href="@{${page.url}(page=${page.totalPages} - 1, size=${page.size}, year=*{year}, grade=*{grade}, clazz=*{clazz}, firstName=*{firstName}, lastName=*{lastName})}"
				th:classappend="${page.last}? pagenation_link_non">&gt;&gt;</a>
		</div>
	</div>

	<hr>
	 <th:block th:replace="fragments/footer :: pageFooter"></th:block>
</body>

</html>